<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Nuevo Partido</a>
        </div>

        <div id="navbar" class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right" style="padding-top: 8px;">
                <button type="submit" class="btn btn-primary" ng-click="">Agregar</button>
                <button type="submit" class="btn btn-default" ng-click="">Cancelar</button>
            </ul>
        </div>
    </div>
</nav>

<form role="form" style="width: 80%; margin-bottom: 50px; margin-left: 10%">
    <ul class="listado-horizontal" style="width: 100%">
        <li class="form-group">
            <label for="deporte">Deporte:</label>
            <select type="text" class="form-control" id="deporte" ng-model="deporte" style="width: 140px">
                <option>Futbol</option>
                <option>Tenis</option>
                <option>Rugby</option>
                <option>Basquet</option>
                <option>Volley</option>
            </select>
        </li>
        <li class="form-group">
            <label for="cantPersonas">Cantidad de Personas:</label>
            <input type="number" class="form-control" id="cantPersonas" ng-model="cantPersonas" style="width: 150px">
        </li>
        <li class="form-group">
            <table>
                <tr><td>
                    <label style="text-align: center">¿Voy a participar?:</label>
                </td></tr>
                <tr><td style="padding-left: 15px">
                </td></tr>
            </table>
        </li>
    </ul>

    <div class="form-group">
        <label for="direccion" style="width: 100%">Dirección:</label>
        <input id="direccion" class="form-control" ng-model="address"/>
    </div>
</form>